<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zyyoona7.demo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.VerticalLinearActivity"/>
        <activity android:name=".activity.VerticalSectionLinearActivity"/>
        <activity android:name=".activity.HorizontalLinearActivity"/>
        <activity android:name=".activity.HorizontalSectionLinearActivity"/>
        <activity android:name=".activity.VerticalGridActivity"/>
        <activity android:name=".activity.VerticalSectionGridActivity"/>
        <activity android:name=".activity.HorizontalGridActivity"/>
        <activity android:name=".activity.HorizontalSectionGridActivity"/>
        <activity android:name=".activity.VerticalStaggeredGridActivity"/>
        <activity android:name=".activity.HorizontalStaggeredGridActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>